USE [master]
GO
/****** Object:  Database [QLBS]    Script Date: 12/08/2023 1:47:01 CH ******/
CREATE DATABASE [QLBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBS_Data', FILENAME = N'C:\CSDL\QLBS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'QLBS_Log', FILENAME = N'C:\CSDL\QLBS_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBS]
GO
/****** Object:  Table [dbo].[CHITIETDONTHUE]    Script Date: 12/08/2023 1:47:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONTHUE](
	[Masach] [varchar](15) NOT NULL,
	[Giathue] [decimal](18, 0) NULL,
	[Donthue] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[Donthue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONTHUESACH]    Script Date: 12/08/2023 1:47:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUESACH](
	[Tinhtrang] [nvarchar](5) NULL,
	[Ngaymuon] [datetime] NULL,
	[Ngaytra] [datetime] NULL,
	[Diachi] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[Ten] [nvarchar](50) NULL,
	[CMND] [varchar](12) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONMUA]    Script Date: 12/08/2023 1:47:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONMUA](
	[Mahd] [int] IDENTITY(1,1) NOT NULL,
	[Ngaylap] [datetime] NULL,
	[Masach] [varchar](15) NULL,
 CONSTRAINT [PK_HOADONMUA] PRIMARY KEY CLUSTERED 
(
	[Mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 12/08/2023 1:47:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[Mahd] [int] IDENTITY(1,1) NOT NULL,
	[Masach] [varchar](15) NULL,
	[Soluong] [int] NULL,
	[Ngaynhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 12/08/2023 1:47:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Manxb] [varchar](15) NOT NULL,
	[Tennxb] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
 CONSTRAINT [PK_Nhaxuatban] PRIMARY KEY CLUSTERED 
(
	[Manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/08/2023 1:47:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Masach] [varchar](15) NOT NULL,
	[Tensach] [nvarchar](100) NOT NULL,
	[Manxb] [varchar](15) NULL,
	[Giaban] [decimal](18, 0) NULL,
	[Hinhanh] [varchar](100) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETDONTHUE] ON 

INSERT [dbo].[CHITIETDONTHUE] ([Masach], [Giathue], [Donthue], [CMND]) VALUES (N'NXBT', CAST(5600 AS Decimal(18, 0)), 1, NULL)
INSERT [dbo].[CHITIETDONTHUE] ([Masach], [Giathue], [Donthue], [CMND]) VALUES (N'NXBT', CAST(5600 AS Decimal(18, 0)), 2, NULL)
INSERT [dbo].[CHITIETDONTHUE] ([Masach], [Giathue], [Donthue], [CMND]) VALUES (N'KD', CAST(5000 AS Decimal(18, 0)), 3, NULL)
SET IDENTITY_INSERT [dbo].[CHITIETDONTHUE] OFF
GO
SET IDENTITY_INSERT [dbo].[DONTHUESACH] ON 

INSERT [dbo].[DONTHUESACH] ([Tinhtrang], [Ngaymuon], [Ngaytra], [Diachi], [SDT], [Ten], [CMND], [ID]) VALUES (N'0', CAST(N'2015-06-05T00:00:00.000' AS DateTime), CAST(N'2015-06-15T00:00:00.000' AS DateTime), N'123 ABC', N'089789456', N'Nguyen Van A', N'123456789', 2)
INSERT [dbo].[DONTHUESACH] ([Tinhtrang], [Ngaymuon], [Ngaytra], [Diachi], [SDT], [Ten], [CMND], [ID]) VALUES (N'1', CAST(N'2015-06-05T00:00:00.000' AS DateTime), CAST(N'2015-06-07T00:00:00.000' AS DateTime), N'72/25 Ngô Quyền', N'0914333977', N'Phạm Văn B', N'123456798', 6)
INSERT [dbo].[DONTHUESACH] ([Tinhtrang], [Ngaymuon], [Ngaytra], [Diachi], [SDT], [Ten], [CMND], [ID]) VALUES (N'1', CAST(N'2015-06-05T00:00:00.000' AS DateTime), CAST(N'2015-06-15T00:00:00.000' AS DateTime), N'1213 DSADSA', N'016548798789', N'DSAA', N'123547895', 9)
SET IDENTITY_INSERT [dbo].[DONTHUESACH] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADONMUA] ON 

INSERT [dbo].[HOADONMUA] ([Mahd], [Ngaylap], [Masach]) VALUES (32, CAST(N'2016-08-29T00:00:00.000' AS DateTime), N'8067547865869')
INSERT [dbo].[HOADONMUA] ([Mahd], [Ngaylap], [Masach]) VALUES (33, CAST(N'2016-08-03T00:00:00.000' AS DateTime), N'8067547865869')
INSERT [dbo].[HOADONMUA] ([Mahd], [Ngaylap], [Masach]) VALUES (34, CAST(N'2016-08-29T00:00:00.000' AS DateTime), N'3103931939580')
SET IDENTITY_INSERT [dbo].[HOADONMUA] OFF
GO
SET IDENTITY_INSERT [dbo].[KHO] ON 

INSERT [dbo].[KHO] ([Mahd], [Masach], [Soluong], [Ngaynhap]) VALUES (1, N'3103931939580', 100, CAST(N'2016-09-03T00:00:00.000' AS DateTime))
INSERT [dbo].[KHO] ([Mahd], [Masach], [Soluong], [Ngaynhap]) VALUES (5, N'8067547865869', 90, CAST(N'2016-09-03T00:00:00.000' AS DateTime))
INSERT [dbo].[KHO] ([Mahd], [Masach], [Soluong], [Ngaynhap]) VALUES (6, N'8067547865869', 200, CAST(N'2016-08-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHO] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([ID], [Manxb], [Tennxb], [Diachi], [SDT]) VALUES (1, N'KD', N'Kim Đồng', N'248 Cống Quỳnh, P. Phạm Ngũ Lão, Q.1, TP. Hồ Chí Minh', N'0839251001')
INSERT [dbo].[NHAXUATBAN] ([ID], [Manxb], [Tennxb], [Diachi], [SDT]) VALUES (4, N'NXBLD', N'Lao Động', N'175 Giảng Võ - Đống Đa - Hà Nội', N'0438515380')
INSERT [dbo].[NHAXUATBAN] ([ID], [Manxb], [Tennxb], [Diachi], [SDT]) VALUES (5, N'NXBPN', N'Phụ Nữ', N'16 Alexandre De Rhodes, Q.1, TP. Hồ Chí Minh', N'0838294459')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([ID], [Masach], [Tensach], [Manxb], [Giaban], [Hinhanh]) VALUES (7, N'3103931939580', N'Tony buổi sáng', N'NXBT', CAST(56000 AS Decimal(18, 0)), N'Tony Buoi Sang-01.png')
INSERT [dbo].[SACH] ([ID], [Masach], [Tensach], [Manxb], [Giaban], [Hinhanh]) VALUES (12, N'8067547865869', N'Ôi, Mình Thật Là Giỏi!', N'NXBT', CAST(50000 AS Decimal(18, 0)), N'Oi Minh That La Gioi-01.png')
INSERT [dbo].[SACH] ([ID], [Masach], [Tensach], [Manxb], [Giaban], [Hinhanh]) VALUES (11, N'8579860820682', N'Phụ Trách Sao Nhi Đồng Cần Biết	', N'KD', CAST(50000 AS Decimal(18, 0)), N'Phu Trach Sao Nhi Dong-01.png')
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
ALTER TABLE [dbo].[HOADONMUA]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([Masach])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[HOADONMUA] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK4] FOREIGN KEY([Masach])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK4]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([Manxb])
REFERENCES [dbo].[NHAXUATBAN] ([Manxb])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[CHITIETDONTHUE]  WITH CHECK ADD CHECK  (([Giathue]>=(0)))
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD CHECK  (([Giaban]>=(0)))
GO
USE [master]
GO
